html {
    scroll-behavior: smooth;
}

#pro{
    height: 1vh;
    display: hidden;
    z-index: 2;
    margin-top: 100vh;
}
.anchor{
    height:.1vw;
}
#a3{
    position: absolute;    
}
body, html {
    height: 100%;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Oswald', sans-serif;
}
.landingPage{
    background-image: url("../Images/blank-business-composition-373076.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    width:100%;
    height: 75vw;
    max-height: 100%;
}
.homeRow{
    padding-top:15%;
}

.homeRow #name{
    color: white;
    font-size: 10.5vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.projects{
    padding-top: 5vw;
}

.subTitle{
    color: black;
    font-size: 8vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.titleRow #title{
    color: greenyellow;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}

.homeRow #profile{
    max-width: 20vw;
    height: auto;
}
@media only screen and (max-width: 768px){
    body{
        background-size: contain;
    }
    #profile{
        width: 15vw;
        height: auto;
    }
    .homeRow{
        position: static;
        margin-top: 15vw;
        z-index: 1;
    }
    .titleRow #title{
        text-align: right;
        margin: 0;
        padding: 0;
    }     
}
/* Start of section 1 items*/
/*Heading*/


.aboutMeContainer .titleSec1{
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 1em;   
}

.iconsContainer .col-sm-4{
    text-align: center;
    padding-top: 5%;
}
.iconsContainer .col-sm-4 img{
    max-width: 100%;
    height: 12.5vw;
}
.iconsContainer .col-sm-4 h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}
ul{
    list-style: none;
    text-align: center;
    display: inline;
}
@media only screen and (max-width: 768px){
    .iconsContainer .col-sm-4 h1{
        text-align: center;
        font-size: 6vw;
    }
}
#connect{
    max-height: 60vw;
    padding:0;
}

.container-fluid #left{
    margin-top: 5vw;
    background-color: rgb(36, 36, 36);
    text-align: center;
    height: 60vw;
    padding-left:0
}

.container-fluid .col-xs-6 h1{
    font-size: 5vw;
    color: greenyellow;
    margin-top: 55%;
    margin-bottom: 50%;
    font-family: 'Oswald', sans-serif;
}
.container-fluid #particles-js{
    margin-top: 5vw;
    text-align: center;   
    height: 60vw;
}
.container-fluid .sm{
    position: absolute;
}
.sm #a{
    max-height: auto;
    max-width: 13vw;
    width: 100%;
    height: auto;
    display: block;
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 125%;
}
.sm img{
    max-height: auto;
    max-width: 13vw;
    width: 100%;
    height: auto;
}

#nav{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

@media only screen and (max-width: 768px){
    .container-fluid .col-xs-6 h1{
        font-size: 7vw;
    }
}

/*Projects library*/
html.sr .load-hidden {
    visibility: hidden;
  }
  
  .widget-list {
    display: flex;
    list-style: none;
    background: black;
    border-radius: 8px;
    flex-wrap: wrap;
    text-align: center;
  }  
  .widget {
    width: 30vw;;
    height: 15vw;
    margin: 0.5vw;
    background: white;
    text-align: center;
    border-radius: 4px;
  }

  .projectFrame{
      width: 30vw;
      height: 15vw;
      overflow: hidden;
      text-align: center;
  }

  #projectImage{
      width: 100%;
      height: auto;
  }

  @media only screen and (max-width: 768px){
    .widget-list{
        display: block;
    }
    .widget{
        width: 80%;
        margin-bottom: 2vw;
        padding-top:2vw;
    }

}

  
  /* extension */
  html.sr .widget {
    visibility: hidden;
  }
  
  #projectImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 60vw;
  width: 30vw;
  height: auto;
  
}

/* Caption of Modal Image */
#caption, #titlemodal, #button {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: auto;
}

#titlemodal{
    color: greenyellow;
}
/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.lol {
  position: absolute;

  margin-left: 65vw;
    width: 3vw;
  color: white;
  font-size: 2vw;
  background-color: rgba(0,0,0,0);
  opacity: 1;
  z-index: 90;
}

#button{
    color: black;
    font-weight: bold;
    background-color: greenyellow
}
#titlemodal{
    font-size: 3vw;
    font-family: "Oswald", sans-serif;
}
