html {
    scroll-behavior: smooth;
}

.anchor{
    height:.1vw;
    margin-top: 52%;
}
body, html {
    height: 100%;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url("../Images/blank-business-composition-373076.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    
}
.homeRow{
    padding-top:15%;
}

.homeRow #name{
    color: white;
    font-size: 10.5vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.titleRow #title{
    color: greenyellow;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}
@media only screen and (max-width: 768px){
    body{
        background-size: contain;
    }
    .homeRow #profile{
        display: none;
    }
    .homeRow #name{
        text-align: right;
    }
    .titleRow #title{
        text-align: right;
    }     
}
/* Start of section 1 items*/
/*Heading*/


.aboutMeContainer .titleSec1{
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 1em;   
}

.iconsContainer .col-sm-4{
    text-align: center;
    padding-top: 5%;
}
.iconsContainer .col-sm-4 img{
    max-width: 100%;
    height: 12.5vw;
}
.iconsContainer .col-sm-4 h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}
ul{
    list-style: none;
    text-align: center;
    display: inline;
}
@media only screen and (max-width: 768px){
    .iconsContainer .col-sm-4 h1{
        text-align: center;
        font-size: 6vw;
    }
}

#connect{
    margin-top: 5vw;
    max-height: 60vw;
}

.container-fluid #left{
    margin-top: 5vw;
    background-color: rgb(36, 36, 36);
    text-align: center;
    height: 60vw;
    border-style: dashed;
}

.container-fluid .col-xs-6 h1{
    font-size: 5vw;
    color: greenyellow;
    margin-top: 60%;
    margin-bottom: 50%;
    font-family: 'Oswald', sans-serif;
}
.container-fluid #particles-js{
    margin-top: 5vw;
    text-align: center;   
    height: 60vw;
}
.container-fluid .sm{
    position: absolute;
}
.sm #a{
    max-height: auto;
    max-width: 13vw;
    width: 100%;
    height: auto;
    display: block;
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 125%;
}
.sm img{
    max-height: auto;
    max-width: 13vw;
    width: 100%;
    height: auto;
}

#nav{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
@media only screen and (max-width: 768px){
    .container-fluid .col-xs-6 h1{
        font-size: 7vw;
    }
}
